.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

* {
  /* Page reset */
  margin: 0px;
  padding: 0px;
}

#main {
  text-align: center;
}

#gallery {
  display: inline-block;
}

#setWidth {
  width: 920px; 
}

#slides {
  display: flex;
  height: 400px;
  overflow: hidden;
}

ul {
  text-align: center;
  /* margin: 0 auto; */
  display: flex;
  list-style: none;
  width: 920px;
  height: 45px;
}

ul>li {
  display: inline-block;
  height: 45px;
  width: 60px;
  text-align: center;
}

/* 子元素inline-block
   父元素text-align:center;实现居中
*/

.menuItem img {
  display: inline-block;
}

ul>li.act {
  background: url('./images/active_bg.png');
}

.menuItem a {
  display: block;
  height: 35px;
  width: 60px;
  padding-top: 10px;
}

/* #main{
  margin: 15px auto;
  text-align: center;
  width: 920px;
  position: relative;
} */

/* Gallery styles */

/* #gallery{
	/* CSS3 Box Shadow  
	-moz-box-shadow:0 0 3px #AAAAAA;
	-webkit-box-shadow:0 0 3px #AAAAAA;
	box-shadow:0 0 3px #AAAAAA;
	
	border:1px solid white;
	
	/* background:url('./images/active_bg.png') no-repeat bottom center #ffffff; */

/* The width of the gallery 
	width:920px;
  overflow:hidden;
} */

/* #slides{
	/* This is the slide area 
	height:400px;
	
	/* jQuery changes the width later on to the sum of the widths of all the slides. 
	width:920px;
	overflow:hidden;
} */

/* .slide{
	float:left;
} */

/* #menu{
	/* This is the container for the thumbnails 
	height:45px;
} */

/* ul{
	margin:0px;
  padding:0px;
  background: linear-gradient(to bottom, #f8f8f8 0%,#ececec 100%); 
  border-top: 1px solid rgb(224, 224, 224)
} */

/* li{
	/* Every thumbnail is a li element 
	width:60px;
	display:flex;
	list-style:none;
	height:45px;
  /* overflow:hidden; 

} */

/* 
li.inact:hover{
	/* The inactive state, highlighted on mouse over 
	background:url('./images/active_bg.png') center;
} */

/*  */

/* li.act,
li.act:hover{
	/* The active state of the thumb 
	background:url('./images/active_bg.png') center;
} */

/* 鼠标形状 */

/* li.act a{
	cursor:default;
} */

/* li a{
  display:inline-block;
  background:url('./images/divider.png') no-repeat right;
  height:35px;
  padding-top:10px;
  width: 60px;
  text-decoration: none;
  outline: none;
} */

/* a img{
  border:none;
} */

/* .fbar {
  width: 2px;
  background: url('./images/divider.png') no-repeat right;
  padding: 0;
  margin: 0;
} */

/* #wrapper{
  text-align: center;
} */

/* *{
  margin: 0;
  padding: 0;
} */

/* .gallery {
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
}

.bigPic {
  display: flex;
  align-items: flex-start;
  width: 920px;
  height: 400px;
  overflow: hidden;
}

.smallPic {
  text-align: center;
  height: 45px;
} */

/* 
.smallPic>ul>li {
  width: 60px;
  height: 45px;
  display: inline-block;
  list-style: none;
  display: inline-block;
}

.smallPic img {
  display: block;
  background: url('./images/active_bg.png') no-repeat right;
  height: 35px;
  padding-top: 10px;
} */